<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="js/mdl/material.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>

<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-color--grey-100 mdl-color-text--grey-800">
    <header class="mdl-layout__header mdl-layout__header--transparent">
        <div class="mdl-layout__header-row mdl-color--deep-purple mdl-color-text--white">
            <span class="mdl-layout-title">Oucheee!</span>
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="/ouch">Capture</a>
                <a class="mdl-navigation__link" href="/pain-data">Summary</a>
                <a class="mdl-navigation__link" href="/pain-ref-data">RefData</a>
            </nav>
        </div>
    </header>

    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title mdl-color--deep-purple mdl-color-text--white">Oucheee!</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/ouch">Capture</a>
            <a class="mdl-navigation__link" href="/pain-data">Summary</a>
            <a class="mdl-navigation__link" href="/pain-ref-data">RefData</a>
        </nav>
    </div>

    <main class="mdl-layout__content">
        <div class="mdl-tabs mdl-js-tabs">
            <div class="mdl-tabs__tab-bar mdl-color--grey-200">
                <a href="#results" class="mdl-tabs__tab mdl-color-text--grey-800 is-active">Data</a>
            </div>
            <div class="mdl-tabs__panel is-active" id="results">

                <div th:unless="${#lists.isEmpty(allPainEntries)}">

                    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                        <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Year</th>
                            <th class="mdl-data-table__cell--non-numeric">Month</th>
                            <th class="mdl-data-table__cell--non-numeric">Day</th>
                            <th class="mdl-data-table__cell--non-numeric">Position</th>
                            <th class="mdl-data-table__cell--non-numeric">Occurrence</th>
                            <th class="mdl-data-table__cell--non-numeric">Type</th>
                            <th class="mdl-data-table__cell--non-numeric">Temperature</th>
                            <th class="mdl-data-table__cell--non-numeric">Cause</th>
                            <th class="mdl-data-table__cell--non-numeric">Remedy</th>
                            <th class="mdl-data-table__cell--non-numeric">Duration</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="entry : ${allPainEntries}">
                            <td class="mdl-data-table__cell--non-numeric" th:text="${entry.year}"></td>
                            <td class="mdl-data-table__cell--non-numeric" th:text="${entry.month}"></td>
                            <td class="mdl-data-table__cell--non-numeric" th:text="${entry.day}"></td>
                            <td class="mdl-data-table__cell--non-numeric" th:text="${entry.position}"></td>
                            <td class="mdl-data-table__cell--non-numeric" th:text="${entry.occurrence}"></td>
                            <td class="mdl-data-table__cell--non-numeric" th:text="${entry.type}"></td>
                            <td class="mdl-data-table__cell--non-numeric" th:text="${entry.temperature}"></td>
                            <td class="mdl-data-table__cell--non-numeric" th:text="${entry.possibleCause}"></td>
                            <td class="mdl-data-table__cell--non-numeric" th:text="${entry.remedy}"></td>
                            <td class="mdl-data-table__cell--non-numeric" th:text="${entry.duration}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </main>

    <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo">Oucheee!</div>
            <ul class="mdl-mini-footer__link-list">
                <li><a href="#">Help</a></li>
                <li><a href="#">Privacy & Terms</a></li>
            </ul>
        </div>
    </footer>

</div>


<!--JavaScript at end of body for optimized loading-->
<script defer src="js/mdl/material.min.js"></script>
</body>
</html>